body {
    font-size: 16px;
    line-height: 40px;
}
h1 {
    font-size: 65px; 
    color:orange;
    font-family: sans-serif;
}
ul {
    background-color:white ;
    text-align: center;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
}
#fundo-maçã {
    font-style: italic;
    background-color: red;
}
#fundo-banana {
    font-style:inherit;
    background-color: yellow;
}
#fundo-goiaba {
    font-style:unset;
    background-color: green;
}